{
    "lang": "fr-FR",

    "lisa_url": "localhost",
    "lisa_port": 10042,
    "lisa_web_port": 8000,

    "enable_secure_mode": true,
    "lisa_ssl_crt2": "",
    "lisa_ssl_key2": "",

    "database": {
        "server": "localhost",
        "port": 27017,
        "user": "lisa",
        "pass": "lisapowered"
    },
    "debug": {
        "debug_input": true,
        "debug_output": true,
        "debug_scheduler": false,
        "debug_wit": true,
        "debug_before_before_rule": false,
        "debug_after_before_rule": false,
        "debug_before_after_rule": false,
        "debug_after_after_rule": false
    },

    "wit_token": "Z45ZDBO54WA2OBL3N4USAYGF5FMHVCCL",
    "wit_confidence": 0.600,

    "bot_name": "neo",
    "plugin_store": "http://plugins.lisa-project.net/"
}
